.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: var(--radius-lg);
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.card img {
  width: 100%;
  border-radius: var(--radius-lg);
  margin-top: 10px;
}

.actions {
  margin-top: 10px;
}