body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

h1, h2, h3 {
  font-weight: 600;
}

.small-text {
  font-size: 0.85rem;
  color: #777;
}