.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: white;
  border-bottom: 2px solid var(--color-accent);
}

.logo {
  color: var(--color-primary-dark);
}

.links a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--color-brown);
  font-weight: 500;
}